<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="../coffees.hbs">Coffees</a>
        <a href="../customers.hbs">Customers</a>
        <a href="../orders.hbs">Orders</a> 
        <a href="../orders_has_coffees.hbs">Coffee Orders</a>
        <a href="../paymentMethods.hbs">Payment Methods</a>
    </nav>
    <h1>MAKE SURE TO SITE SOURCE ON README file</h1>
    {{{body}}}

</body>
</html>